html {
     background: url(images/battlefield.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.is-half {
  width: 50%;
  border: 5px solid black;
}

iframe {
  border: none;
}